.logo{
    width: 100%;
}
.header{
    padding: 50px;
}
.logo{
    margin: 0;
    padding: 0;
    width: 50px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.navbar-section img{
    width: 350px;
}
.categories img{
    width: 300px;
    background-color: rgba(231, 234, 235, 0.904);
}
.penguin-card{
    border: 0;
}
.penguin-card-footer{
    border: 0;
    background-color: white;
}